.All-Input{
    border: 3px solid;
    color: black;
    width: 180px;
    height: 25px;
    background-color: rgb(210, 246, 175);
}
#All-Buttons{
    padding: 10px;
    word-spacing: 15px;
    border: 1px solid;
    width: 190px;
    height: 210px;
    font-size: large;
    box-shadow: 10px;
    border-radius: 10px;
    background-color: rgb(35, 34, 34);
    
}
